/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

/*--------------------*/
body {
    background-color: #191a1e;
    color: #fff;
}

.header__container {
    /* max-width: 966px; */
    margin: 0px auto;
    padding: 0px 15px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-text {
    /* display: flex;
    align-items: center; */
    margin-top: 4px;
}

/* ОГРАНИЧЕНИЕ КОНТЕНТА ПО ШИРИНЕ  [тело] */
main {
    max-width: 576px;
    margin: 0px auto;
    padding: 0px 15px;
    margin-top: 80px;
}


/* ==============HEADER============= */
a.logo {
    display: flex;
}


.header {
    display: flex;
    min-height: 62px;
    align-items: center;
    justify-content: space-between;
}

.menu__item {
    flex: 1 1 auto;
    margin: 0px 40px 0px 0px;
}

.menu__list {
    display: flex;
    color: #fff;
    font-weight: 700;
    font-family: "JetBrains Mono";
}

.logo img {
    width: 20px;
    height: 20px;
}

.header__logo-text {
    font-family: "JetBrains Mono";
    font-size: 18px;
    padding-left: 9px;
    color: #fff;
    align-items: center;
}

/* .container {
    position: fixed;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    width: 100%;
    top: 0;
    left: 0;
} */

.header {
    position: fixed;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    width: 100%;
    top: 0;
    left: 0;
}



.menu__list a {
    display: flex;
    color: #fff;
    font-family: "JetBrains Mono";
}

.menu__list a:hover {
    text-decoration: underline;
}

.logo img:hover {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 600ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 600ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 600ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* THEMES */
.material-icons {
    color: #fff;
}


/* THEMES */
.material-icons {
    color: #fff;
}

.dark .themetoggle {
    background-color: #e0d530;
}

.dark .themetoggle:hover {
    background-color: #beb428;
    transition: background-color 0.3s ease 0s;
}

.themetoggle {
    background-color: #805ad5;
    border-radius: 5px;
}

.themetoggle span {
    padding: 7px 7px;
}

.themetoggle:hover {
    background-color: #6142a3;
    transition: background-color 0.3s ease 0s;
}

/* BURGER MENU */
/* ========BURGER-MENU========== */
.logo {
    display: flex;
    align-items: center;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.dark .header__burger-btn span {
    background-color: #000;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.logo {
    display: block;
}

.logo__img {
    width: 200px;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    font-size: 16px;
}

@media (max-width: 397.98px) {
    .header__burger-btn {
        display: block;
    }

    .menu {
        position: absolute;
        left: -350px;
        top: 0;
        width: 350px;
        background-color: rgb(109, 115, 121);
        /* blueviolet */
        /* padding: 75px 20px 20px 20px; */
        padding-top: 20px;
        padding-bottom: 20px;
        transition: transform .5s;
    }

    .dark .menu {
        background-color: rgb(147, 185, 180);
    }

    .menu__list {
        display: block;
    }

    .menu__link {
        color: white;
        font-size: 18px;
        display: block;
        padding: 10px 0;
    }

    .menu__item {
        display: flex;
        justify-content: center;
        line-height: 25px;
        font-size: 17px;
    }

    .dark .menu__item {
        font-size: 17px;
    }

    .logo img {
        width: 35px;
        height: 35px;
    }

    .header.open .menu {
        transform: translateX(100%);
    }
}
/* ================================ */
/* pics */
.pics__pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.pics__img {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    border-radius: 5px;
}


/* ================= */ 
/* btn's */
.pics__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.suggest_your_btn {
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: #1a202c;
    background-color: #81e6d9;
    border-radius: 5px;
    padding: 14px 30px;
    letter-spacing: 0.5px;
}

.suggest_your_btn:hover {
    background-color: #65a89f;
    transition: background-color 0.3s ease 0s;
}


/* ================= */
/* THEMES */
html.dark,
.dark body {
    font-size: 12px;
    background: #f0e7db;
    color: #000;
}

.dark .menu__item {
    font-size: 14px;
}

/* color of icon */
.dark .material-icons {
    color: #000;
}

/* color of menu in header */
.dark .menu__item a {
    color: #000;
}

/* logo color */
.dark .header__logo-text {
    color: #000;
}

.dark .header__logo-img {
    color: #000;
}

.dark .hello-world__text {
    background: #f5f0e8;
}

/* button about-block */
.dark .about__button a {
    background-color: #48d1bf;
}

/* button bio-block */
.dark .bio__button a {
    background-color: #48d1bf;
}

/* button links-block */
.dark .links__button a {
    background-color: #48d1bf;
}

/* links in links-block */
.dark .links__links a {
    color: #197260;
}

.dark .links__links a:hover {
    background-color: #a4e2d9;
}

/* АДАПТИВ ПОД СМЕНУ ТЕМЫ */
@media (max-width: 421.98px) {
    .header__logo-img {
        display: none;
    }
}

.menu__item:nth-child(4) {
    text-decoration: underline;
}